#sliderContainer {
  width: 50vw;
}

#slider {
  margin: 10px;
  border: 1px solid black;
  height: 10px;
}

#slider:hover, #slider:hover>span, button {
  cursor: pointer;
}

#rangeContainer {
  display: flex;
  justify-content: space-between;
}
