#sliderContainer {
  width: inital;
}

#slider {
  margin-bottom: 5px;
  border: inherit inherit inherit;
  height: inital;
  width: inital;
  display: table-cell;
}

#slider:hover, #slider:hover>span, button {
  cursor: pointer;
}

#rangeContainer {
  display: flex;
  justify-content: space-between;
}
